* {
	background-color: #efefef;
}

.container {
	width: 600px;
	margin: 100px auto;
	display: flex;
	justify-content: space-around;
}

.board {
	width: 416px;
}

.row {
	width: 416px;
	display: flex;
	flex-direction: row;
}
.cell {
	border: 1px solid #ccc;
	width: 52px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}

.red {
	border-radius: 50px;
	border: 25px solid red;
	background-color: red;
}

.yellow {
	border-radius: 50px;
	background-color: yellow;
	height: 50px;
	width: 50px;
}